services:
  etcd:
    container_name: milvus-etcd
    image: quay.io/coreos/etcd:v3.5.5
    environment:
      - ETCD_AUTO_COMPACTION_RETENTION_RUNTIME=1h
      - ETCD_AUTO_COMPACTION_RETENTION_KEYS=1000
    volumes:
      - ./volumes/etcd:/etcd
    command: etcd --advertise-client-urls http://etcd:2379 --listen-client-urls http://0.0.0.0:2379 --data-dir /etcd
    healthcheck:
      test: [ "CMD", "etcdctl", "endpoint", "health" ]
      interval: 10s # Уменьшим интервал, чтобы быстрее проверял
      timeout: 5s
      retries: 5

  minio:
    container_name: milvus-minio
    image: minio/minio:RELEASE.2023-03-20T20-16-18Z
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    ports:
      - "9010:9000"  # API доступ (для Python)
      - "9011:9001"  # Console доступ (для браузера)
    volumes:
      - ./volumes/minio:/export
    command: minio server /export --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  attu:
      container_name: attu
      image: zilliz/attu:latest
      ports:
        - "8000:3000" # Заходи через http://localhost:8000
      environment:
        MILVUS_URL: "standalone:19530"
  standalone:
    container_name: milvus-standalone
    image: milvusdb/milvus:v2.4.0
    command: ["milvus", "run", "standalone"]
    environment:
      ETCD_ENDPOINTS: etcd:2379
      MINIO_ADDRESS: minio:9000
    volumes:
      - ./volumes/milvus:/var/lib/milvus
    ports:
      - "19530:19530"
      - "9091:9091"
    depends_on:
      etcd:
        condition: service_healthy
      minio:
        condition: service_healthy
    # Добавляем лимиты, чтобы контейнер не вылетал
    deploy:
      resources:
        limits:
          memory: 2048M

  mysql:
    image: mysql:8.0
    container_name: mysql-server
    restart: always
    environment:
      MYSQL_DATABASE: face_db
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  adminer:
    image: adminer
    container_name: mysql-adminer
    restart: always
    ports:
      - "8080:8080"

networks:
  default:
    name: milvus

volumes:
  mysql_data: