.env
/venv/.*
/venv
.idea
.migrations.done

/milvus-local/venv/
/milvus-local/venv/.*
/milvus-local/volumes/
/milvus-local/volumes/.*

/milvus-local/venv/**/*.pyc
/milvus-local/volumes/db/tmp/*
/storage