# Работа с БД
mysql-connector-python==8.2.0
pymilvus==2.3.4
marshmallow==3.19.0

# Переменные окружения
python-dotenv==1.0.0

# AI и Распознавание лиц
insightface==0.7.3
onnxruntime==1.16.3
numpy<2.0.0

# Вспомогательные
opencv-python-headless