# Основные библиотеки для работы с данными
numpy>=1.23.5,<2.0.0
opencv-python==4.11.0.86
Pillow

# Базы данных
mysql-connector-python
pymilvus==2.3.4
python-dotenv
face_recognition==1.3.0
# Нейросетевой стек
deepface==0.0.98
tensorflow>=2.16.1
tf-keras

# Движок для ускорения на CPU (отлично подходит для Mac)
onnxruntime==1.16.3